<h1>Form to submit</h1>

<form action="/submission/create">
    <input type="text" name="name" placeholder="name">
    <input type="email" name="email" placeholder="email">
    <input type="latitude" name="latitude" placeholder="latitude">
    <input type="longitude" name="longitude" placeholder="longitude">
    <input type="number" name="number" placeholder="postcode">
    <button>Submit</button>
</form>